html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
} 

.main-container {
    width: 85%;
    max-width: 800px;
    margin: auto;
}

.registration-container {
    margin-top: 3em;
    margin-bottom: 3em;
}

footer {
    margin: auto;
}

.nav-form {
    /* flex-direction: column; */
}


/* .nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
    display: block;
    width: 100%;
} */


/* Media Queries */
@media only screen and (max-width: 576px) {
   .registration-container {
       margin-top: 2em;
   } 


}

@media only screen and (max-width: 768px) {
    body {
      font-size: .9rem;
    }
   

    .registration-header {
        font-size: 1.6rem;
    }

    .nav-form {
        flex-direction: column;
    }


    .btn-submit {
        margin: 1.2em auto;
    }
}
/* 
@media only screen and (max-width: 1000px) {
    .main-container {
        max-width: 500px;
    }
} */
  
