* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
} 

.main-container {
    width: 85%;
    max-width: 800px;
    margin: auto;
}

.main-container-lg{
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
    text-align: center;
    padding: 2em;
}

.registration-container {
    margin-top: 3em;
    margin-bottom: 3em;
}

.registration-policy-statement {
    font-size: .7rem;
    
}

.page-subtitle {
    margin-bottom: 5em;
}

.competitions {
    display: flex;
    justify-content: space-around;
    
}

.competition-container {
    justify-content: space-around;
}

.competitions_img-row {
    /* height: 150px; */
    align-items: center;
    justify-content: center;
}

.competitions_img-bg {
    max-width: 145px;
    height: 145px;
    /* margin: .5em; */
    background-color: rgba(8, 7, 7, 0.021);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1em;

}

.competition_img {
    max-height: 140px;
    max-width: 140px;
    cursor: pointer;
    
}







.btn__img-choice {
    position: absolute;
    bottom: .3em;
    display: none;
}

.btn-submit-votes {
    background-color: rgb(64, 204, 64);
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
}

.display-toggle {
    display: block;
}

footer {
    margin: auto;
}

.nav-form {
    /* flex-direction: column; */
}

.page-header {
    font-size: 2rem;
    margin-bottom: 1em;
    
}


/* .nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
    display: block;
    width: 100%;
} */
.modal-image {

    max-width: 85%;
    height: auto;
    max-height: 60vh;
}

.selected-image {
    border: solid 3px rgb(98, 247, 98);
}

/* Media Queries */



/* //media queries */

@media only screen and (max-width: 1000px) {
    .main-container {
        max-width: 500px;
    }
} 

@media only screen and (max-width: 800px) {
    body {
      font-size: .9rem;
    }
   

    .registration-header {
        font-size: 1.6rem;
    }

    .nav-form {
        flex-direction: column;
    }


    .btn-submit {
        margin: 1.2em auto;
    }

    .competitions {
        flex-direction: column;
        align-items: center;
    }

    .competitions-cards {
        margin-bottom: 2em;
    }

    .competitions_img-row {
        justify-content: space-evenly;
    }

    .competitions_img-bg {
        margin-bottom: 1em;
        max-width: 220px;
        height: 220px;
        
    }

    .competition_img {
        max-width: 215px;
        max-height: 215px;
    } 

  
   .page-subtitle {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-bottom: 1.5em;
    }
} 
 

  


@media only screen and (max-width: 576px) {
    .registration-container {
        margin-top: 2em;
    } 
 
    /* .competitions_img-row {
     margin-bottom: 1em;
 } */
 
 .competitions_img-bg {
     margin-bottom: 1em;
     
 }

 /* .page-subtitle {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-bottom: 1.5em;
} */
 
 
 }



@media only screen and (max-width: 400px) {
    .main-container-lg{
        
        padding: .5em;
    }
    
    .page-header {
        margin-top: .5em;
        
    }

    /* .page-subtitle {
        font-size: 1.1rem;
        font-weight: lighter;
        margin-bottom: 1.5em;
    } */
    
    .competitions_img-bg {
        max-width: 185px;
        height: 185px;
        margin-bottom: .5em;
        
        
        
    } 

    .competition_img {
        max-width: 180px;
        max-height: 180px;
    } 
}