html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
} 

.main-container {
    width: 85%;
    max-width: 800px;
    margin: auto;
}

.main-container-lg{
    width: 90%;
    max-width: 1200px;
    margin: 2em auto;
    text-align: center;
}

.registration-container {
    margin-top: 3em;
    margin-bottom: 3em;
}

.competitions {
    display: flex;
    justify-content: space-around;
    
}

.competition-container {
    justify-content: space-around;
}

.competitions_img-row {
    /* height: 150px; */
    align-items: center;
    justify-content: space-evenly;
}

.competitions_img-bg {
    max-width: 150px;
    height: 150px;
    margin: .5em;
    background-color: rgba(8, 7, 7, 0.021);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.competition_img {
    max-height: 150px;
    max-width: 150px;
    
}

footer {
    margin: auto;
}

.nav-form {
    /* flex-direction: column; */
}


/* .nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
    display: block;
    width: 100%;
} */


/* Media Queries */
@media only screen and (max-width: 576px) {
   .registration-container {
       margin-top: 2em;
   } 

   /* .competitions_img-row {
    margin-bottom: 1em;
} */

.competitions_img-bg {
    margin-bottom: 1em;
}


}

@media only screen and (max-width: 768px) {
    body {
      font-size: .9rem;
    }
   

    .registration-header {
        font-size: 1.6rem;
    }

    .nav-form {
        flex-direction: column;
    }


    .btn-submit {
        margin: 1.2em auto;
    }

    .competitions {
        flex-direction: column;
        align-items: center;
    }

    .competitions-cards {
        margin-bottom: 2em;
    }
/* 
    .competitions_img-row {
        margin-bottom: 1em;
    } */

    .competitions_img-bg {
        margin-bottom: 1em;
    }
}
/* 
@media only screen and (max-width: 1000px) {
    .main-container {
        max-width: 500px;
    }
} */
  
